@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat+Alternates:wght@300;500&display=swap');


body::-webkit-scrollbar {
    width: 10px;
    height: 10px;               
  }
  body::-webkit-scrollbar-track {
    background: white;       
  }
  body::-webkit-scrollbar-thumb {
    background-color: #F3E243;  
    border-radius: 20px;       
    border: 2px solid black;  
  }


html, body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
}

header {
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 150px;
    border-bottom: 1px solid white;
    box-shadow: 0 0 10px white;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

header .HLeft {
    width: 800px;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
}

.logotype {
    width: 280px;
    height: 150px;
}

.logo {
    margin-left: 23px;
    margin-top: 23px;
    width: 280px;
    height: 105px;
    background: url(images/Logotype.png);
    background-size: cover;
}

.HLeft .number {
    margin-left: 150px;
    padding-top: 40px;
    width: 280px;
    height: 110px;
    vertical-align: center;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: Arial;
}

header .HCenter {
    margin: auto;
    width: 280px;
    height: 150px;
}

.HCenter .group_button {
    width: 280px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group_button .login:hover {
    background-color: white;
    color: black;
    transition: background-color, color;
    transition-duration: .2s;
}

.group_button .registration:hover {
    background-color: white;
    color: black;
    transition: background-color, color;
    transition-duration: .2s;
}

.group_button .login {
    margin-left: 40px;
    width: 200px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: white;
    transition: background-color, color;
    transition-duration: .2s;
}

.group_button .registration {
    margin-top: 15px;
    margin-left: 40px;
    width: 200px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: white;
    transition: background-color, color;
    transition-duration: .2s;
}




header .HRight {
    width: 800px;
    height: 150px;
}

.HRight .flex1 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex1 .flex11 {
    width: 100%;
    height: 75px;
}

.flex11 .menu {
    width: 100%;
    height: 75px;
}

.menu ul {
    margin: 0;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;

}

.menu li {
    list-style-type: none;
    margin: 0 30px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: text-shadow;
    transition-duration: 1s;
    text-shadow: 0;
}

.menu a:hover {
    transition: text-shadow;
    transition-duration: .1s;
    text-shadow: 0 0 10px white;
}

.flex1 .flex12 {
    width: 100%;
    height: 75px;
    display: inline-flex;
}

.flex12 form {
    display: inline-flex;
    flex-direction: row;
    margin: 12px 25px;
    width: 600px;
    height: 50px;
}

.flex12 input {
    padding: 0 10px;
    margin: 0;
    width: 550px;
    height: 46px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,0);
    font-family: Arial;
    color: white;
    font-size: 20px;
}

.flex12 input:focus {
    outline: 0;
    background-color: rgba(0,0,0,0);
}

.flex12 button {
    width: 50px;
    height: 50px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0,0,0,0);
    transition: background-color;
    transition-duration: .1s;
}

.flex12 button .search_icon {
    background-image: url(images/search0.png);
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-size: cover;
    transition: filter;
    transition-duration: .3s;
    filter: drop-shadow(0 0 0px #F3E243);
}

.flex12 button:hover {
    transition: background-color;
    transition-duration: .1s;
}

.flex12 button:hover .search_icon {
    transition: filter;
    transition-duration: .1s;
    filter: drop-shadow(0 0 2px #F3E243);
}

.flex12 .favourite {
    margin-top: 10px;
    width: 46px;
    height: 46px;
    border: 2px solid white;
    border-radius: 10px;
}

.favourite .favourite_icon {
    margin: 5px 10px;
    width: 26px;
    height: 35px;
    background-image: url(images/Favourite0.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image;
    transition-duration: .2s;
}

.favourite:hover {
    border: 2px solid #F3E243;
    transition: border;
    transition-duration: .2s;
}

.favourite:hover .favourite_icon {
    background-image: url(images/Favourite1.png);
    transition: background-image;
    transition-duration: .2s;
}

.flex12 .basket {
    margin-top: 10px;
    margin-left: 20px;
    width: 46px;
    height: 46px;
    border: 2px solid white;
    border-radius: 10px;
}

.basket .basket_icon {
    margin: 5px 5px;
    width: 35px;
    height: 35px;
    background-image: url(images/Basket0.png);
    background-size: cover;
}

.basket:hover {
    border: 2px solid #F3E243;
    transition: border;
    transition-duration: .2s;
}

.basket:hover .basket_icon {
    background-image: url(images/Basket1.png);
    transition: background-image;
    transition-duration: .2s;
}

main .padding {
    width: 100%;
    height: 100px;
}

main .login_header {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    color: black;
    font-family: Arial;
    text-align: center;
    font-size: 70px;
}

main .news_items {
  background-color: red;
  margin: 20px auto;
  width: 1800px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news_items .news_item {
    margin: 20px auto;
    width: 1800px;
    height: 700px;
    background-image: url(images/back_news.png);
}

.news_item .news_dark {
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.5);
}

.news_dark .news_slogan {
    margin: 0 auto;
    text-align: center;
    width: 600px;
    height: 300px;
    padding-top: 200px;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px black;
}

.news_dark .news_more {
    background-color: #0a0a0a;
    color: white;
    text-align: center;
    width: 150px;
    height: 60px;
    border: 2px solid #0a0a0a;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color, color;
    transition-duration: .2s;
    margin-left: 825px;
    margin-top: 50px;
}

.news_dark .news_more:hover {
    background-color: white;
    color: #0a0a0a;
    transition: background-color, color;
    transition-duration: .2s;
}





footer {
  width: 100%;
  height: 250px;
}

.footer_top {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.9);
}

.footer_bottom {
  width: 100%;
  height: 35px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-family: Arial;
}

.flex_footer {
  padding-top: 30px;
  width: 1200px;
  height: 120px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.footer_block:first-child {
  width: 450px;
  height: 150px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer_block:last-child {
  width: 450px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.footer_block_content1:first-child {
  width: 415px;
  height: 30px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.footer_block_content1 {
  width: 415px;
  height: 40px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.footer_block_content1 span {
  width: 420px;
  height: 30px;
  margin-top: -10px;
  margin-right: 20px;
  color: white;
  font-family: Arial;
  font-size: 25px;
  font-weight: 500;
}

.footer_text {
  width: 450px;
  height: 100px;
  padding-top: 30px;
  color: white;
  font-size: 26px;
  text-align: center;
  font-family: Arial;
}



