@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat+Alternates:wght@300;500&display=swap');


body::-webkit-scrollbar {
    width: 10px;
    height: 10px;               
  }
  body::-webkit-scrollbar-track {
    background: white;       
  }
  body::-webkit-scrollbar-thumb {
    background-color: #F3E243;  
    border-radius: 20px;       
    border: 2px solid black;  
  }


html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
}

header {
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 150px;
    border-bottom: 1px solid white;
    box-shadow: 0 0 10px white;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

header .HLeft {
    width: 800px;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
}

.logotype {
    width: 280px;
    height: 150px;
}

.logo {
    margin-left: 23px;
    margin-top: 23px;
    width: 280px;
    height: 105px;
    background: url(images/Logotype.png);
    background-size: cover;
}

.HLeft .number {
    margin-left: 150px;
    padding-top: 40px;
    width: 280px;
    height: 110px;
    vertical-align: center;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: Arial;
}

header .HCenter {
    margin: auto;
    width: 280px;
    height: 150px;
}

.HCenter .group_button {
    width: 280px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group_button .login:hover {
    background-color: white;
    color: black;
    transition: background-color, color;
    transition-duration: .2s;
}

.group_button .registration:hover {
    background-color: white;
    color: black;
    transition: background-color, color;
    transition-duration: .2s;
}

.group_button .login {
    margin-left: 40px;
    width: 200px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: white;
    transition: background-color, color;
    transition-duration: .2s;
}

.group_button .registration {
    margin-top: 15px;
    margin-left: 40px;
    width: 200px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: white;
    transition: background-color, color;
    transition-duration: .2s;
}




header .HRight {
    width: 800px;
    height: 150px;
}

.HRight .flex1 {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex1 .flex11 {
    width: 100%;
    height: 75px;
}

.flex11 .menu {
    width: 100%;
    height: 75px;
}

.menu ul {
    margin: 0;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;

}

.menu li {
    list-style-type: none;
    margin: 0 30px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: text-shadow;
    transition-duration: 1s;
    text-shadow: 0;
}

.menu a:hover {
    transition: text-shadow;
    transition-duration: .1s;
    text-shadow: 0 0 10px white;
}

.flex1 .flex12 {
    width: 100%;
    height: 75px;
    display: inline-flex;
}

.flex12 form {
    display: inline-flex;
    flex-direction: row;
    margin: 12px 25px;
    width: 600px;
    height: 50px;
}

.flex12 input {
    padding: 0 10px;
    margin: 0;
    width: 550px;
    height: 46px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,0);
    font-family: Arial;
    color: white;
    font-size: 20px;
}

.flex12 input:focus {
    outline: 0;
    background-color: rgba(0,0,0,0);
}

.flex12 button {
    width: 50px;
    height: 50px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0,0,0,0);
    transition: background-color;
    transition-duration: .1s;
}

.flex12 button .search_icon {
    background-image: url(images/search0.png);
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-size: cover;
    transition: filter;
    transition-duration: .3s;
    filter: drop-shadow(0 0 0px #F3E243);
}

.flex12 button:hover {
    transition: background-color;
    transition-duration: .1s;
}

.flex12 button:hover .search_icon {
    transition: filter;
    transition-duration: .1s;
    filter: drop-shadow(0 0 2px #F3E243);
}

.flex12 .favourite {
    margin-top: 10px;
    width: 46px;
    height: 46px;
    border: 2px solid white;
    border-radius: 10px;
}

.favourite .favourite_icon {
    margin: 5px 10px;
    width: 26px;
    height: 35px;
    background-image: url(images/Favourite0.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image;
    transition-duration: .2s;
}

.favourite:hover {
    border: 2px solid #F3E243;
    transition: border;
    transition-duration: .2s;
}

.favourite:hover .favourite_icon {
    background-image: url(images/Favourite1.png);
    transition: background-image;
    transition-duration: .2s;
}

.flex12 .basket {
    margin-top: 10px;
    margin-left: 20px;
    width: 46px;
    height: 46px;
    border: 2px solid white;
    border-radius: 10px;
}

.basket .basket_icon {
    margin: 5px 5px;
    width: 35px;
    height: 35px;
    background-image: url(images/Basket0.png);
    background-size: cover;
}

.basket:hover {
    border: 2px solid #F3E243;
    transition: border;
    transition-duration: .2s;
}

.basket:hover .basket_icon {
    background-image: url(images/Basket1.png);
    transition: background-image;
    transition-duration: .2s;
}



main {
    margin: 0 auto;
    width: 100%;
    height: 3200px;
}

main .beginning {
    width: 100%;
    height: 980px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/beginning_page.png);
    background-repeat: no-repeat;
    background-size: cover;
}
 .beginning_slogan {
    color: white;
    padding-top: 430px;
    margin: auto;
    display: block;
    flex-wrap: wrap;
    font-size: 70px;
    font-family: Arial;
    font-weight: bold;
    flex-direction: column;
    width: 1000px;
    height: 200px;
    text-align: center;
}










main .advantages {
    width: 100%;
    height: 600px;
}

.advantages .advantages_slogan {
    width: 100%;
    height: 70px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 300;
}

.advantages .advantages_flex {
    max-width: 1800px;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.advantages_flex .advantage_block {
    width: 450px;
    height: 500px;
}

.advantage_block .advantage_icon {
    width: 190px;
    height: 123px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.advantage_block .advantage_icon img {
    margin: auto;
    text-align: center;
}

.advantage_block .advantage_text1 {
    width: 450px;
    height: 50px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 35px;
}

.advantage_block .advantage_text2 {
    width: 450px;
    height: 100px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    padding-top: 0px;
}






.popular_items {
    width: 100%;
    height: 800px;
    background-color: #F9F9F9;
    box-shadow: 0px 2px 10px black inset, 0px -2px 10px black inset;
}

.popular_items .popular_slogan {
    width: 100%;
    height: 70px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 300;
}

.popular_items .popular_flex {
    margin: auto;
    width: 1800px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popular_flex .popular_block {
    width: 400px;
    height: 490px;
    margin: 0 10px;
}

.popular_flex .popular_block2 {
    padding-top: 10px;
    width: 330px;
    margin: 10px auto;
    height: 440px;
    background-color: white;
    box-shadow: 0px 4px 4px black;
}

.popular_image0, .popular_image1 {
    width: 310px;
    height: 310px;
    margin: auto;
}

.popular_image0 .more, .popular_image1 .more {
    position: absolute;
    margin: 125px 80px;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    filter: opacity(0%);
    transition: background-color, color, filter;
    transition-duration: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.popular_image {
    width: 310px;
    height: 310px;
    margin: auto;
    transition: backdrop-filter;
    transition-duration: .2s;
    backdrop-filter: blur(0px);
}

.popular_image:hover {
    transition: backdrop-filter;
    transition-duration: .2s;
    backdrop-filter: blur(1px);
}

.popular_image:hover .more {
    position: absolute;
    transition: background-color, color, filter;
    filter: opacity(100%);
    transition-duration: .2s;
    color: black;
    background-color: white;

}

.popular_image:hover .more:hover {
    transition: background-color, color;
    transition-duration: .2s;
    background-color: rgba(0,0,0,0.4);
    color: white;
}

.popular_image0 {
    background-image: url(images/NEOLOOK.png);
}

.popular_image1 {
    background-image: url(images/310х310.png);
}

.popular_block2 .name {
    padding-top: 10px;
    width: 330px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #676767;
}

.popular_block2 .price {
    padding-top: 5px;
    width: 330px;
    height: 40px;
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: 'Inter';
    font-weight: bold;
}

.popular_basket, .popular_favourite {
    width: 35px;
    height: 40px;
    float: right;
    margin-right: 10px;
}

.popular_basket {
    background-image: url(images/Basket2.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image;
    transition-duration: .2s;
    width: 40px;

}

.popular_favourite {
    background-image: url(images/Favourite2.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image;
    transition-duration: .2s;
}

.popular_basket:hover,.popular_favourite:hover {
    transition: background-image;
    transition-duration: .2s;
}

.popular_basket:hover {
    background-image: url(images/Basket1.png);
}

.popular_favourite:hover {
    background-image: url(images/Favourite21.png);
}










.advertisiments {
    width: 100%;
    height: 800px;
}

.ADS_slogan {
    width: 100%;
    height: 70px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 300;
}

#ADSslider {
    position: relative;
    width: 1440px;
    height: 550px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  }
  #ADSslider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #ADSslider ul li {
    position: relative;
    height: 100%;
   
    float: left;
  }
  #ADSslider ul li img{
    width: 1440px;
    height: 550px;
  }
   
  #ADSslider #ADSprev1, #ADSslider #ADSnext1 {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
    border: 0;
    background-color: rgba(0,0,0,0.2);
  }
  #ADSslider #ADSprev1:hover, #ADSslider #ADSnext1:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
    color: #F3E243;
  }
  #ADSslider #ADSprev1 {
    left: 10px;
  }
  #ADSslider #ADSnext1 {
    right: 10px;
  }




footer {
    width: 100%;
    height: 250px;
}

.footer_top {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.9);
}

.footer_bottom {
    width: 100%;
    height: 35px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: Arial;
}

.flex_footer {
    padding-top: 30px;
    width: 1200px;
    height: 120px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footer_block:first-child {
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer_block:last-child {
    width: 450px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.footer_block_content1:first-child {
    width: 415px;
    height: 30px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.footer_block_content1 {
    width: 415px;
    height: 40px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.footer_block_content1 span {
    width: 420px;
    height: 30px;
    margin-top: -10px;
    margin-right: 20px;
    color: white;
    font-family: Arial;
    font-size: 25px;
    font-weight: 500;
}

.footer_text {
    width: 450px;
    height: 100px;
    padding-top: 30px;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: Arial;
}


/*Вход*/
